<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Create Topic</title>
</head>
<body>
<div>
    <md-content layout-padding>
        <form name="topic">
            <md-input-container class="md-block">
                <label>Name</label>
                <input required name="name" ng-model="name">

                <div ng-messages="topic.name.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>
        </form>
    </md-content>
    <div>
        <p class="pull-right">{{name}}</p>
    </div>
</div>
</body>
</html>